@font-face {
    src: url(/fonts/Roboto-Regular.ttf);
    font-family: roboto;
}


body {
    color: #fff;
    font-family: roboto;
    background-color: #343a40;
    transition: background 0.2s linear;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

.borderline {
    background: #ffd300;
    width: 9rem;
    height: 2px;
}

.borderline1 {
    background: #ffd300;
    width: 10rem;
    height: 2px;
}

.borderline2 {
    background: #ffd300;
    width: 9rem;
    height: 2px;
    margin-bottom: 0rem;
}

.bg-light {
    background-color: #3f4850 !important;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #ffd300; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #bea41e; 
  }

  ::-moz-selection {
      background: #ffd300;
      color: white;
  }

  ::selection {
    background: #ffd300;
    color: white;
  }

.navbar {
    box-shadow: 0 0 3px rgba(240, 238, 238, 0.479);
}

.nav-link {
    margin-right: 30px;
}

.navbar-light .navbar-toggler {
    border-color: #ffffffee;
}

.carousel-caption {
    top: 50%;
    transform: translateY(-50%);
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.label {
    background-color: #111;
    display: flex;
    border-radius: 50px;
    padding: 5px;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 26px;
    width: 50px;
    margin: 0;
    transition: all 0.3s;
    transform: scale(1.13);
}

.checkbox:checked + .label .ball {
    transform: translateX(24px);
    background-color: #111;
}

.checkbox:checked + .label {
    background-color: #fff;
}

.fa-moon {
    color: #e2c119;
}

.fa-sun {
    color: #f39c12;
}

.label .ball {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    top: 2px;
    left: 2px;
    transform: translateX(0px);
	transition: transform 0.23s linear;
}

/* About Me Sectie */

.section1 {
    margin-top: 7.6rem;
}

.mountainvertical img {
    width: 100%;
    height: 31em;
    position: relative;
    border-radius: 13px;
    transition: all 0.3s;
}

.aboutmeimgtxt {
    position: absolute;
    font-size: 3rem;
    top: 23rem;
    transform: translateX(-50%);
    left: 50%;
    opacity: 0;
    color: white;
}

.section1 .row .col-md-6:last-child {
    position: relative;
}

.section1 .row .col-md-6 .panel {
    position: absolute;
    top: 9.4vmin;
    left: -13vmin;
    background: #3f4850;
    border-radius: 13px;
    padding: 30px;
    box-shadow: 0px 25px 42px rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.portfolioimg {
    height: 249px;
    transition: all 0.3s;
    margin-bottom: 13px;
}

.portfolioimg:hover {
    transform: scale(1.13);
}

.portfoliotitel {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 2rem;
}

.portfoliotitelstyling {
    color: #ffd300 !important;
    font-weight: 760;
}

.portfoliotxtstyling {
    font-size: 19px;
    color: #fff !important;
}

/* Line 1 */ 

.homewrapper {
    display: none;
}

.line1 {
    position: relative;
    width: 7em;
    margin: 0 auto;
    border-right: 2px solid white;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
}

.anim-typewriter {
    animation: typewriter 2s steps(44) 1s 1 normal both,
               blinkTextCursor 500ms steps(44) infinite normal;
}

@keyframes typewriter{
    from{width: 0;}
    to{width: 7em;}
}

@keyframes blinkTextCursor {
    from{border-right-color: white;}
    to{border-right-color: transparent;}
}

/* Line 2 */

.line2 {
    position: relative;
    width: 7em;
    margin: 0 auto;
    border-right: 2px solid white;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
}

.anim-typewriter2 {
    animation: typewriter2 2s steps(44) 1s 1 normal both,
               blinkTextCursor2 500ms steps(44) infinite normal;
}

@keyframes typewriter2{
    from{width: 0;}
    to{width: 10em;}
}

@keyframes blinkTextCursor2 {
    from{border-right-color: white;}
    to{border-right-color: transparent;}
}

/* Line 3 */

.line3 {
    position: relative;
    width: 7em;
    margin: 0 auto;
    border-right: 2px solid white;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
}

.anim-typewriter3 {
    animation: typewriter3 2s steps(44) 1s 1 normal both,
               blinkTextCursor3 500ms steps(44) infinite normal;
}

@keyframes typewriter3{
    from{width: 0;}
    to{width: 8.5em;}
}

@keyframes blinkTextCursor3 {
    from{border-right-color: white;}
    to{border-right-color: transparent;}
}

.h5txtstyle{
    color: #ffd300;
    transition: 0.3s all;
}

.h5txtstyle:hover{
    color:#bea41e;
}

.logonav {
    height: 2rem;
    top: 10px;
    left: 23px;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff !important;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #ffd300;
}

a.nav-link {
    transition: all 0.3s;
}

a.nav-link:hover {
    color: #ffd300 !important;
}

.btn {
    font-size: 18px;
    color: white;
    padding: 12px 22px;
    background: #343a40;
    border: 3px solid white;
    transition: 0.3s;
}

.btn:hover {
    font-size: 18px;
    color: white;
    padding: 12px 22px;
    background: #ffd300;
    border: 3px solid white;
    transition: 0.3s;
}

.aboutmetitle {
    margin-top: 6rem;
    margin-bottom: 1.3rem;
    text-align: center;
}

.txtbox {
    text-align: center;
    max-width: 58%;
    margin-bottom: 6rem;
    margin-top: 2.3rem;
}

.txtboxstyling {
    color: #ffd300;
    transition: 0.3s;
}

.txtboxstyling:hover {
    opacity: 0.85;
    color: #ffd300;
    transition: 0.3s;
}

.card {
    background-color: #3f4850 !important;
}

.cardimgs {
    height: auto;
    margin-top: 1.3rem;
}

.card.shadow1 {
    height: 40.9rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.inner {
    overflow: hidden;
}

.inner img {
    transition: all 0.85s ease;
}

.inner:hover img {
    transform: scale(1.3);  
}

.card {
    margin-top: 30px;
}

.footerwrapper {
    background: linear-gradient(to bottom, rgba(22, 23, 24, 0.7) 0%,rgba(45, 54, 63, 0.7) 100%), url(../img/snow.png) no-repeat center;
    background-size: cover;
}

.contact-section {
    /*background: linear-gradient(to bottom, rgba(22, 23, 24, 0.7) 0%,rgba(45, 54, 63, 0.7) 100%), url(../img/snow.png) no-repeat center;
    background-size: cover;*/
    padding: 40px 0;
    margin-top: 6.7rem;
}

.contact-section h1 {
    text-align: center;
    color: whitesmoke;
}

.borderline {
    background: #ffd300;
    width: 9rem;
    height: 2px;
}

.contact-form {
    max-width: 600px;
    margin: auto;
    padding: 0 10px;
    overflow: hidden;    
}

.contact-form-text {
    display: block;
    width: 100%;
    box-sizing: border-box;
    border-radius: 8px;
    margin: 16px 0px;
    border: 0;
    background: white;
    opacity: 0.76;
    padding: 20px 40px;
    outline: none;
    color: black;
    transition: all 0.3s;
}

.contact-form-text:focus {
    box-shadow: 0 0 10px 4px #ffd300;
    color: black;
}

textarea.contact-form-text {
    resize: none;
    height: 120px;
}

.contact-form-btn {
    border: solid 3px white;
    background: #343a40;
    color: whitesmoke;
    padding: 12px 50px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.5s;
}

.contact-form-btn:hover {
    background: #ffd300;
}


footer {    
    width: 100%;
    /*background-color: #343a40;*/
    padding: 3%;
    color: white;
}

.copyrighttxt {
    margin-top: 1rem;
    font-weight: lighter;
}

.back-to-top {
    display: inline-block;
    border-radius: 100%;
    position: relative;
    border: 3px solid white;
    height: 73px;
    width: 73px;
    transition: 0.3s;
}

.back-to-top:hover {
    border: 3px solid #ffd300;
    transition: all 0.3s;
}

.back-to-top::before {
    content: url(/img/yellowarrow.png);
    position: absolute;
    transition: 0.3s;
    top: 55%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.back-to-top:hover::before {
    content: url(/img/whitearrow.png);
    top: 39%;
}

.emailstyling {
    color: white;
    transition: 0.3s;
}

.emailstyling:hover {
    color: #ffd300;
    transition: 0.3s;
}

.fab {
    padding: 13px;
    font-size: 30px;
    transition: 0.3s;
    color: white;
}

.fab:hover {
    color: #ffd300;
    transition: 0.3s;
    transform: scale(1.3) rotate(25deg);
}

.wrapper-background {
    background-color: #292d31;
    width: 100%;
}


@media (max-width: 767px) {
    .cardimgs {
        max-width: 50%;
        height: auto;
        margin-left: 25%;
    }

    .socialtxt {
        margin-top: 1.3rem;
    }

    .txtbox {
        max-width: 75%;
    }

    .back-to-top {
        margin-top: 1.3rem;
    }

    .mountainvertical img {
        display: none;
    }

    .section1 .row .col-md-6 .panel {
        display: none;
    }

    .section1 {
        margin-top: 0px;
    }
}

@media (max-width: 1025px) {
    .section1 .row .col-md-6 .panel {
        top: 6.5vmin;
    }
}

@media (max-width: 770px) {
    .section1 .row .col-md-6 .panel {
        top: 4.9vmin;
    }
}

@media (max-width: 600px) {
    .carousel-caption .btn {
        display: none;
    }

    .carousel-caption h1 {
        font-size: 25px;
    }

    .card {
        max-width: 80%;
        margin-left: 10%;
    }

    .homewrapper {
        display: block;
    }

    .card.shadow1 {
        height: auto;
    }
}