@font-face {
    src: url(/fonts/Roboto-Regular.ttf);
    font-family: roboto;
}

@font-face {
    src: url(/fonts/Roboto-Bold.ttf);
    font-family: robotoblack;
}


body {
    color: #343a40;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5 {
    font-family: robotoblack;
}

p {
    font-family: roboto;
}

.borderline {
    background: #606b9c;
    width: 9rem;
    height: 2px;
}

.navbar {
    background: #606b9c;
    color: white;
}

.borderline1 {
    background: #606b9c;
    width: 10rem;
    height: 2px;
}

.borderline2 {
    background: #606b9c;
    width: 9rem;
    height: 2px;
    margin-bottom: 0rem;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #606b9c; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

  ::-moz-selection {
      background: #606b9c;
      color: white;
  }

  ::selection {
    background: #606b9c;
    color: white;
  }

.nav-link {
    margin-right: 30px;
}

.carousel-caption {
    top: 50%;
    transform: translateY(-50%);
}

/* About Me Sectie */

.section1 {
    margin-top: 7.6rem;
}

.mountainvertical img {
    opacity: 0.8;
    width: 100%;
    height: 31em;
    border-radius: 13px;
}

.section1 .row .col-md-6:last-child {
    position: relative;
}

.section1 .row .col-md-6 .panel {
    position: absolute;
    top: 9.4vmin;
    left: -13vmin;
    background: white;
    border-radius: 13px;
    padding: 30px;
    box-shadow: 0px 25px 42px rgba(0, 0, 0, 0.3);
    z-index: 1;
}

/* Line 1 */ 

.homewrapper {
    display: none;
}

.line1 {
    position: relative;
    width: 7em;
    margin: 0 auto;
    border-right: 2px solid white;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
}

.anim-typewriter {
    animation: typewriter 2s steps(44) 1s 1 normal both,
               blinkTextCursor 500ms steps(44) infinite normal;
}

@keyframes typewriter{
    from{width: 0;}
    to{width: 7em;}
}

@keyframes blinkTextCursor {
    from{border-right-color: white;}
    to{border-right-color: transparent;}
}

/* Line 2 */

.line2 {
    position: relative;
    width: 7em;
    margin: 0 auto;
    border-right: 2px solid white;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
}

.anim-typewriter2 {
    animation: typewriter2 2s steps(44) 1s 1 normal both,
               blinkTextCursor2 500ms steps(44) infinite normal;
}

@keyframes typewriter2{
    from{width: 0;}
    to{width: 10em;}
}

@keyframes blinkTextCursor2 {
    from{border-right-color: white;}
    to{border-right-color: transparent;}
}

/* Line 3 */

.line3 {
    position: relative;
    width: 7em;
    margin: 0 auto;
    border-right: 2px solid white;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
}

.anim-typewriter3 {
    animation: typewriter3 2s steps(44) 1s 1 normal both,
               blinkTextCursor3 500ms steps(44) infinite normal;
}

@keyframes typewriter3{
    from{width: 0;}
    to{width: 8.5em;}
}

@keyframes blinkTextCursor3 {
    from{border-right-color: white;}
    to{border-right-color: transparent;}
}

.h5txtstyle{
    color: #606b9c;
    transition: 0.3s all;
}

.h5txtstyle:hover{
    color: #343a40;
}

.logonav {
    height: 2rem;
    position: absolute;
    top: 10px;
    left: 23px;
}

.btn {
    font-size: 18px;
    color: white;
    padding: 12px 22px;
    background: #343a40;
    border: 3px solid white;
    transition: 0.3s;
}

.btn:hover {
    font-size: 18px;
    color: #343a40;
    padding: 12px 22px;
    background: white;
    border: 3px solid #343a40;
    transition: 0.3s;
}

.aboutmetitle {
    margin-top: 6rem;
    margin-bottom: 1.3rem;
    text-align: center;
}

.txtbox {
    text-align: center;
    max-width: 58%;
    margin-bottom: 6rem;
    margin-top: 2.3rem;
}

.txtboxstyling {
    color: #606b9c;
    transition: 0.3s;
}

.txtboxstyling:hover {
    color: #343a40;
    transition: 0.3s;
}

.cardimgs {
    height: auto;
    margin-top: 1.3rem;
}

.card.shadow1 {
    height: 40.9rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.inner {
    overflow: hidden;
}

.inner img {
    transition: all 0.85s ease;
}

.inner:hover img {
    transform: scale(1.3);  
}

.card {
    margin-top: 30px;
}

footer {    
    width: 100%;
    background-color: #343a40;
    padding: 3%;
    color: white;
    margin-top: 3rem;
}

.copyrighttxt {
    margin-top: 1rem;
    font-weight: lighter;
}

.back-to-top {
    display: inline-block;
    border-radius: 100%;
    position: relative;
    border: 3px solid white;
    height: 73px;
    width: 73px;
    transition: 0.3s;
}

.back-to-top:hover {
    border: 3px solid #606b9c;
    transition: all 0.3s;
}

.back-to-top::before {
    content: url(/img/bluearrow.png);
    position: absolute;
    transition: 0.3s;
    top: 55%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.back-to-top:hover::before {
    content: url(/img/whitearrow.png);
    top: 39%;
}

.emailstyling {
    color: white;
    transition: 0.3s;
}

.emailstyling:hover {
    color: #606b9c;
    transition: 0.3s;
}

.fab {
    padding: 13px;
    font-size: 30px;
    transition: 0.3s;
    color: white;
}

.fab:hover {
    color: #606b9c;
    transition: 0.3s;
    transform: scale(1.3) rotate(25deg);
}


@media (max-width: 767px) {
    .cardimgs {
        max-width: 50%;
        height: auto;
        margin-left: 25%;
    }

    .socialtxt {
        margin-top: 1.3rem;
    }

    .txtbox {
        max-width: 75%;
    }

    .back-to-top {
        margin-top: 1.3rem;
    }

    .mountainvertical img {
        display: none;
    }

    .section1 .row .col-md-6 .panel {
        display: none;
    }

    .section1 {
        margin-top: 0px;
    }
}

@media (max-width: 1025px) {
    .section1 .row .col-md-6 .panel {
        top: 6.5vmin;
    }
}

@media (max-width: 770px) {
    .section1 .row .col-md-6 .panel {
        top: 4.9vmin;
    }
}

@media (max-width: 600px) {
    .carousel-caption .btn {
        display: none;
    }

    .carousel-caption h1 {
        font-size: 25px;
    }

    .card {
        max-width: 80%;
        margin-left: 10%;
    }

    .homewrapper {
        display: block;
    }

    .card.shadow1 {
        height: auto;
    }
}