body {
    color: #343a40;
    overflow-x: hidden;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

.borderline {
    background: #606b9c;
    width: 9rem;
    height: 2px;
}

.borderline1 {
    background: #606b9c;
    width: 10rem;
    height: 2px;
}

.borderline2 {
    background: #606b9c;
    width: 9rem;
    height: 2px;
    margin-bottom: 0rem;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #606b9c; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

  ::-moz-selection {
      background: #606b9c;
      color: white;
  }

  ::selection {
    background: #606b9c;
    color: white;
  }

.nav-link {
    margin-right: 30px;
}

.carousel-caption {
    top: 50%;
    transform: translateY(-50%);
}

.btn {
    font-size: 18px;
    color: white;
    padding: 12px 22px;
    background: #343a40;
    border: 3px solid white;
    transition: 0.3s;
}

.btn:hover {
    font-size: 18px;
    color: #343a40;
    padding: 12px 22px;
    background: white;
    border: 3px solid #343a40;
    transition: 0.3s;
}

.aboutmetitle {
    margin-top: 6rem;
    margin-bottom: 1.3rem;
    text-align: center;
}

.txtbox {
    text-align: center;
    max-width: 75%;
    margin-bottom: 6rem;
    margin-top: 2.3rem;
}
.cardimgs {
    height: auto;
    margin-top: 1.3rem;
}

.inner {
    overflow: hidden;
}

.inner img {
    transition: all 0.85s ease;
}

.inner:hover img {
    transform: scale(1.3);  
}

.card {
    margin-top: 30px;
}

footer {    
    width: 100%;
    background-color: #343a40;
    padding: 3%;
    color: white;
    margin-top: 3rem;
}

.back-to-top {
    display: inline-block;
    border-radius: 100%;
    position: relative;
    border: 3px solid white;
    height: 73px;
    width: 73px;
    transition: 0.3s;
}

.back-to-top:hover {
    border: 3px solid #606b9c;
    transition: 0.3s;
}

.back-to-top::before {
    content: url(/img/bluearrow.png);
    position: absolute;
    transition: 0.3s;
    top: 55%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.back-to-top:hover::before {
    content: url(/img/whitearrow.png);
    transition: 0.3s;
}

.emailstyling {
    color: white;
    transition: 0.3s;
}

.emailstyling:hover {
    color: #606b9c;
    transition: 0.3s;
}

.fab {
    padding: 13px;
    font-size: 30px;
    transition: 0.3s;
    color: white;
}

.fab:hover {
    color: #606b9c;
    transition: 0.3s;
}

@media (max-width: 767px) {
    .cardimgs {
        max-width: 50%;
        height: auto;
        margin-left: 25%;
    }

    .socialtxt {
        margin-top: 1.3rem;
    }

    .back-to-top {
        margin-top: 1.3rem;
    }
}

@media (max-width: 600px) {
    .carousel-caption .btn {
        display: none;
    }

    .carousel-caption h1 {
        font-size: 25px;
    }

    .card {
        max-width: 80%;
        margin-left: 10%;
    }
}